@import "tailwindcss";

:root {
  --background: #000;
  --foreground: #171717;
}

html {
  color-scheme: light;
  forced-color-adjust: none;
}

@font-face {
  font-family: "aktiv";
  src: url("/public/fonts/aktiv.ttf") format("truetype");
  font-weight: bold;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-nunito: var(--font-nunito);
  --font-aktiv: var(--font-aktiv)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

h1, h2, h3 {
  font-family: "aktiv" "sans-serif";
}

@keyframes aboutin {
  0% {
    opacity: 0%;
    transform: translate(0%);
  }
  100% {
    opacity: 100%;
    transform: translate(100%);
  }
}
@keyframes aboutani {
  0%, 80% {
    transform: translate(0px);
  }
  100% {
    transform: translate(-6px);
  }
}

@keyframes projectsin {
  0% {
    opacity: 0%;
    transform: translate(0%, 0%);
  }
  100% {
    opacity: 100%;
    transform: translate(0%, -100%);
  }
}
@keyframes projectsani {
  0%, 80% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(6px);
  }
}

@keyframes contactin {
  0% {
    opacity: 0%;
    transform: translate(0%);
  }
  100% {
    opacity: 100%;
    transform: translate(-100%);
  }
}
@keyframes contactani {
  0%, 80% {
    transform: translate(0px);
  }
  100% {
    transform: translate(6px);
  }
}

@keyframes fade {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes blinking {
  0% {
    opacity: 0%;
  }
  20% {
    opacity: 40%;
  }
  40% {
    opacity: 0%;
  }
  60% {
    opacity: 80%;
  }
  80% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes blinking-logo {
  0% {
    opacity: 100%;
  }
  17% {
    opacity: 20%;
  }
  34% {
    opacity: 60%;
  }
  51% {
    opacity: 30%;
  }
  68% {
    opacity: 80%;
  }
  85% {
    opacity: 40%;
  }
  100% {
    opacity: 100%;
  }
}


@keyframes blurin {
  0% {
    filter: blur(0px);
  }
  50% {
    filter: blur(2px);
  }
  100% {
    filter: blur(0px);
  }
}


/* Scrollbar styling for WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent; /* Track color */
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
  border: 2px solid transparent; /* Optional padding */
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Hover state */
}

.ink-mask {
  mask: url('../public/img/masks/inkmask-right.png');
  mask-size: 100% 3300%;
  animation: ink-mask 0.5s steps(32) forwards;

  &:hover {
      animation: ink-mask-hover 0.5s steps(32) forwards;
  }
}
@keyframes ink-mask {
  from {
      mask-position: 0 100%;
  }
  to {
      mask-position: 0 0;
  }
}
@keyframes ink-mask-hover {
  from {
      mask-position: 0 0;
  }
  to {
      mask-position: 0 100%;
  }
}
.ink-mask-load {
  mask: url('../public/img/masks/inkmask-right.png');
  mask-size: 100% 3300%;
  animation: ink-mask-hover 0.8s steps(32) forwards 2s;
}
.ink-mask-inview {
  mask: url('../public/img/masks/inkmask-right.png');
  mask-size: 100% 3300%;
  animation: ink-mask-hover 0.8s steps(32) forwards 0.5s;
}
.ink-mask-outview {
  mask: url('../public/img/masks/inkmask-right.png');
  mask-size: 100% 3300%;
  animation: ink-mask 0.8s steps(32) forwards;
}
@media (max-width: 640px) {
  .ink-mask-outview {
    mask: url('../public/img/masks/inkmask-right.png');
    mask-size: 100% 3300%;
    animation: ink-mask-hover 0.8s steps(32) forwards;
  }
}

.paint-mask {
  mask: url('../public/img/masks/paint-mask-vertical.png');
  mask-size: 3000% 100%;
  animation: paint-mask 0.7s steps(29) forwards;

  &:hover {
      animation: paint-mask-hover 0.7s steps(29) forwards;
  }
}
@keyframes paint-mask {
  from {
      mask-position: 0 0;
  }
  to {
      mask-position: 0 100%;
  }
}
@keyframes paint-mask-hover {
  from {
      mask-position: 0 100%;
  }
  to {
      mask-position: 0 0;
  }
}
.paint-mask-inview {
  mask: url('../public/img/masks/paint-mask-vertical.png');
  mask-size: 100% 3000%;
  mask-position: 0 100%;
  animation: paint-mask-hover 0.8s steps(29) forwards 0.5s;
}
.paint-mask-outview {
  mask: url('../public/img/masks/paint-mask-vertical.png');
  mask-size: 100% 3000%;
  animation: paint-mask 0.8s steps(29) forwards;
}

@keyframes pingani {
  0% {
    transform: scale(1);
    opacity: 100;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}